.bindDevice-box .bind-content {
  padding: 13px;
}
.bindDevice-box .bind-content .bindDevice-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}
.bindDevice-box .bind-content .bindDevice-header img {
  width: 100px;
  height: 100px;
}
.bindDevice-box .bind-content .bindDevice-header .text {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: 18px;
  color: #000;
}
.bindDevice-box .bind-content .selectBox {
  margin-top: 20px;
  padding: 0 10px 20px;
  margin-left: 5px;
}
.bindDevice-box .bind-content .selectBox .tagBox {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 300;
}
.bindDevice-box .bind-content .code-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.bindDevice-box .bind-content .code-box .adm-image {
  width: 300px;
}
.adm-selector-item {
  display: flex;
  align-items: center;
}
.adm-selector-item .adm-selector-check-mark-wrapper {
  border-bottom-color: #56b790;
  border-right-color: #56b790;
}
.adm-selector-item-active,
.adm-selector-item-multiple-active {
  color: #fff;
  background-color: #93ccb5;
}
