.expert-box {
  padding: 13px;
}
.expert-box .slot-box .title {
  margin-top: 13px;
}
.expert-box .topBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13px;
}
.expert-box .topBox .name {
  font-size: 16px;
  color: #56b790;
}
.expert-box .topBox .topBox-fl {
  position: relative;
  display: flex;
  flex-flow: column;
  margin-right: 13px;
  align-items: center;
}
.expert-box .topBox .topBox-fl .hot {
  color: #f50c0c;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(24.26deg);
}
.expert-box .topBox .topBox-fr .description {
  font-size: 16px;
  color: #000;
}
.expert-box .topBox .topBox-fr .IPAddress {
  margin-top: 10px;
  color: #aadbc7;
  font-size: 13px;
}
.expert-box .expert-items {
  margin-top: 30px;
}
.expert-box .expert-items .sift {
  flex: auto;
}
.expert-box .expert-items ul {
  padding: 0 10px 20px;
}
.expert-box .expert-items ul li {
  padding: 10px 5px;
  border-bottom: 1px solid #e5e5e5;
}
.expert-box .expert-items ul li:last-child {
  border-bottom: none;
}
.expert-box .adm-image {
  width: 88px;
  height: 88px;
  border-radius: 14px;
}
