.FarmBox .farm-header {
  position: relative;
  width: 100%;
  height: 369px;
  background-image: url("../assets//images/bg.png");
}
.FarmBox .farm-header .sunLight {
  position: absolute;
  top: -48px;
  right: 0;
}
.FarmBox .farm-header .weather {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 36px;
}
.FarmBox .farm-header .weather .weathyNum {
  margin-left: 32px;
  margin-right: 14px;
}
.FarmBox .farm-header .conditionBox {
  display: flex;
  padding: 27px 22px 16px;
  justify-content: space-between;
}
.FarmBox .farm-header .conditionBox .conditionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 71px;
  width: 110px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.16);
  color: #fff;
  font-size: 16px;
}
.FarmBox .farm-middle {
  z-index: 999;
  padding: 0 11px 130px;
}
.FarmBox .farm-middle .realtimeVedio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  height: 291px;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.FarmBox .farm-middle .realtimeVedio .realtimeVedioItem {
  width: 344px;
  height: 227px;
  display: flex;
}
.FarmBox .farm-middle .realtimeVedio .realtimeVedioItem img {
  width: 100%;
  height: 100%;
}
.FarmBox .farm-middle .knowledgeBox {
  background: linear-gradient(90deg, rgba(86, 183, 144, 0.22) 0%, rgba(86, 183, 144, 0) 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 11px;
  border-radius: 20px;
}
.FarmBox .farm-middle .knowledgeBox .text {
  padding: 15px 14px;
  font-size: 14px;
}
.FarmBox .farm-middle .knowledgeBox .text .dayKnowledge {
  width: 56px;
  color: #000;
  font-weight: 700;
  margin-right: 14px;
}
.FarmBox .farm-middle .knowledgeBox .text span {
  line-height: 21px;
}
.FarmBox .farm-middle .consultationBox {
  margin-top: 18px;
  line-height: 21px;
  color: #000;
  font-size: 16px;
}
.FarmBox .maskBox {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.FarmBox .maskBox h1 {
  font-size: 24px;
  margin-bottom: 18px;
}
.FarmBox .maskBox h1 span {
  color: #f50c0c;
}
.FarmBox .maskBox p {
  font-size: 18px;
}
.adm-center-popup-wrap {
  max-width: none;
}
.adm-modal-body {
  width: 381px;
  height: 321px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 32px 20px 20px;
}
.adm-button {
  height: 46px;
  border-radius: 25px;
  background-color: #56B790;
  color: #fff;
}
.adm-space-item {
  margin-bottom: 15px;
}
