.search-box .search-result ul li {
  display: flex;
  padding: 17px 15px 21px 10px;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.search-box .search-result ul li .name,
.search-box .search-result ul li span {
  color: #56b790;
}
.search-box .search-result ul li .item-fl {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 20px;
}
.search-box .search-result ul li .item-fl p {
  line-height: 21px;
}
.search-box .search-result ul li .item-fr {
  margin-top: 10px;
}
.adm-search-bar-input-box {
  width: 300px;
}
.adm-nav-bar-title {
  padding: 0;
}
